  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Books app</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {{#if isHome}}
          <li class="active"><a href="/">Home page</a></li>
        {{else}}
          <li><a href="/">Home page</a></li>
        {{/if}}

        {{#if isBooks}}
          <li class="active"><a href="/">Books</a></li>
        {{else}}
          <li><a href="/books">Books</a></li>
        {{/if}}

        {{#if isAdd}}
          <li class="active"><a href="/">Add new book</a></li>
        {{else}}
          <li><a href="/add">Add new book</a></li>
        {{/if}}

        {{#if isCard}}
          <li class="active"><a href="/card">Card</a></li>
        {{else}}
          <li><a href="/card">Card</a></li>
        {{/if}}
        
      </ul>
    </div>
  </nav>