.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
}

.book {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book h1 {
    margin-bottom: 2rem;
}

.book img {
    min-width: 600px;
    height: auto;
}

.book .price.big {
    font-size: 2.5rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}